.center {
	text-align: center;
    margin-bottom: 20px;
};

.right {
	right: 100px;
};

.acknow {
	height: 100%;
}

.foot-img {
	text-align: right;
}

.img-pad {
    margin: 0px 50px;
}

/*footer margin*/
.njit-marg{
	margin-left: 100px
}

.marg-p {
	margin-bottom: 50px
}

.about-wid {
	width: 800px;
	margin-left: 165px
}

.form-marg {
	margin-left: 100px
}

.icon-marg {
	margin-right: 20px
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /*background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
}

.self_body {
    color: #8D090F
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.copyright {
    float: left;
    display: inline-block;
}

.social { 
    float: right;
    display: inline-block;
}

.nav-center > li {
	float: none;
	display: inline-block;
	text-align: center;
}

.nav-color {
	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #e22929;
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e22929;
    font-size: 20px;
}

.self_nav {
    background-color: #f5f5f57a;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    left: 0;
}

.self_logo {
    width: 120px;
    height: 80px;
}

.self_navs {
    margin-top: 15px;
}

.self_menu_toggle {
    top: 0px;
}

.self_menu_toggle_button {
    margin: auto;
    right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    background: #d42323;
}

.self_foot {
    padding-top: 0px;
    padding-bottom: 25px;
}

.self_sidebar {
    color: #f5f5f5;
}

.self_front_img {
    width: 100%;
    height: 611px;
}

.self_icon {
    font-size: 7ex;
}

.self_divider {
        border-top-color: #8D090F
}

.footer_row {
    font-size: 2.5ex;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 35px;
    width: 1078px;
};

.self_footer_icon {
    font-size: 9ex;
}

.team_margin {
    margin-bottom: 35px;
}

.link_color {
    color:#8D090F;
}

.self_wrapper {
    margin-top: 0px;
    position: fixed;
}
.self_container {
    width: 1123px;
}

.self_title {
    font-size: 30px;
}

.self_battery_img {
    width: 100%;
    height: 450px;
}

.self_team {
    width: 15%;
    height: 15%;
}