.self_nav_color {
	background-color: rgb(204,0,0);
}

.self_nav_height {
	height: 60px;
}

.img_resize {
  width:100%;
  height: auto;
}

.center_text {
	text-align: center;
}

.self_footer {
	color: #FFF;
	font-size: 2.5ex;
	background-color: rgb(204,0,0);
}

.self_team_description {
	top: 80px;
	left: 80px;
}

.self_team_image {
	width:200px;
	height: 200px;
}

.self_div_12 {
	margin-top: 45px;
}

.justify_descriptions {
  text-align: justify
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  line-height: 95px;
  /*text-align: center;*/
  background: #1323d6;
  /*border:3.5px solid #343a40;*/
}