.center_text {
	text-align: center;
}

.divider {
	margin-top: 35px;
	margin-bottom: 35px;
	border-top-color: rgb(204,0,0);
}

.self_icon {
    font-size: 7ex;
    color:rgb(204,0,0);
}

.self_nav_color {
  background-color: rgb(204,0,0);
}
.img_resize {
  width:100%;
  height: auto;
}
.color_icon {
	color: none;
}

.self_footer {
  color: #FFF;
  font-size: 2.5ex;
  background-color: rgb(204,0,0);
  margin-top: 60px;
}

.self_body_color {
	background-color: #d4d1d166
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.self_div_12 {
  margin-top: 45px;
}

.solar_logo {
  width: 100px;
  height: 100px;
  float: right;
}

.njit_logo {
  width: 10%;
}

.self_nav_height {
  height: 60px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  line-height: 95px;
  /*text-align: center;*/
  background: #1323d6;
  /*border:3.5px solid #343a40;*/
}
