.self_container {
	margin-top: 60px;
}

.sponsor_comet {
	color: #fb981d;
}
.sponsor_mag {
	color: #737272;
}

.sponsor_hel {
	color: #eae52a;
}

.sponsor_red {
	color: #c71e2e;
}

.sponsor_super {
	color: #ad84da;
}

.donate {
	text-align: center;
}

.footer_margin {
	margin-top: 60px;
}

.logo_margin {
	margin-top: 60px;
}